<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="32feet.NET" version="3.5.0.0" targetFramework="net48" />
  <package id="ConsoleTables" version="2.4.2" targetFramework="net48" />
  <package id="InTheHand.Pontoon" version="10.2018.10.2" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Network" version="6.2.4.21" targetFramework="net48" />
  <package id="Network.Bluetooth" version="4.0.1803.22" targetFramework="net48" />
  <package id="OpenHardwareMonitor" version="0.7.1" targetFramework="net48" />
  <package id="OpenHardwareMonitorLibCore" version="1.0.2" targetFramework="net48" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
  <package id="System.Threading" version="4.3.0" targetFramework="net48" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="net48" />
  <package id="System.Threading.Timer" version="4.3.0" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="net48" />
</packages>